body {
  /* font-family: 'Rubik', sans-serif; */
background: transparent;

font-family: 'Coiny', cursive;}

.small {
  font-weight: 300;
  font-style: italic;
}


@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');